
<div class="container-fixed">

  <div class="description" [@scrollFadeIn]>
    <h2>What is Professional Networking?</h2>
    <p>
      Professional networking involves creating and nurturing connections with individuals in your industry or related fields.
      These relationships are mutually beneficial and allow for an exchange of ideas, advice, and resources. 
      Networking helps expand your professional circle, giving you access to a broader pool of opportunities and insights.
    </p>

    <h2 >What We Offer:</h2>
    <p>
         test 1
    </p>

   <h2>Health and Wellness Products</h2> 
   <p [@scrollAnimation]>
         test 2
    <p> 


  </div>

   
      <mat-grid-list cols="4" gutterSize="10px" rowHeight="1:1" *ngIf="!isMobile" >
        <mat-grid-tile *ngFor="let stage of pigStages; let i = index">
          <mat-card class="product-card" id="mat-card-{{i}}"
           [@scrollAnimation]>

            <img mat-card-image [src]="getImagePath(stage.imagePath)">
            <mat-card-content>
              <h3 class="text-center">{{ stage.productName }}</h3>
              <p class="text-center">{{ stage.category }}</p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button color="accent" class="w-100" (click)="ViewDetails()">View details</button>
            </mat-card-actions>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>

      <!-- Mobile Layout -->
      <div class="d-block d-sm-none">
        <mat-card *ngFor="let stage of pigStages" class="h-100">
          <img mat-card-image [src]="getImagePath(stage.imagePath)">
          <mat-card-content>
            <h3 class="text-center">{{ stage.productName }}</h3>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="accent" class="w-100" (click)="ViewDetails()">View Details</button>
          </mat-card-actions>
        </mat-card>
      </div>
     <div class="description" >
            <h2>Why Choose Nexsuz?</h2>
            <p [@scrollAnimation]>
            test 3
            </p>
            <p [@scrollAnimation]>
             test 4
            </p>
      </div>
   
  </div>






