.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .register-form {
    background-color: #fff3f3;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 4 8px 10 rgba(0, 0, 0, 0.1);
    width: 420px;
    max-width: 340px;
    margin-top: 0px;

  }
  
  
  .register-form h1 {
    font-size: 15px;
     color: #1b2527;
    text-align: center;
  }
  mat-label{
    color: rgb(8, 8, 8);
  }
  
    /* Form fields */
    .mat-form-field {
      width: 100%;
      margin-bottom: 0px;
    }
    .mat-form-field input{
     font-size: 15px;
     margin-bottom: 6px;
    }
    
  
    .mat-form-field .mat-form-field-label {
      font-size: 1rem;
      color: #000000;
    }
    .signup-button {
        color: white; /* Change to your desired text color */
        background-color: #007bff; /* Change to your desired background color */
    }
    
    /* Optional: Change color on hover */
    .signup-button:hover {
        background-color: #0056b3; /* Darker shade for hover effect */
    }
    
    /* Submit button */
    .login-form button {
      width: 100%;
      font-size: 15px;
    
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    button{
      width: 100%;
      background-color: #1eb7ee;
      color: #ffffff;
    }
  .links {
    margin-top: 1rem;
    text-align: left;
  }
  
  .links a {
    color:#126381;
    text-decoration: none;
    margin: 5px;
    
  }
  
  .links a:hover {
    text-decoration
    : underline;
  }
  .login-form button:hover {
    background-color: #126381;
  }
  button{
    color: #063444;
  } 
  .w-col{
    width: 120px;
  }
  
  mat-label{
    color: #063444;
  }
  @media (max-width: 480px) {
    .register-form  {
      padding: 1rem;
      max-width: 340px
    }
  
    .register-form  h1 {
      font-size: 18px;
    }
  
    .register-form  button {
        font-size: 1rem;
        padding: 0.1rem;
    }
   
  }