<div class="login-container">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>
        <h2>
          <mat-icon style="vertical-align: middle;">person</mat-icon> Sign In
       </h2>
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <mat-progress-bar *ngIf="isLoading" mode="indeterminate" color="primary"></mat-progress-bar>
      
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="standard" class="full-width">
          <mat-label>Email</mat-label>
          <mat-icon matPrefix>email</mat-icon>
          <input matInput placeholder="Enter your email" type="email" formControlName="email" required>
          <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
            Email is required.
          </mat-error>
          <mat-error *ngIf="loginForm.get('email')?.hasError('email')">
            Please enter a valid email address.
          </mat-error>
        </mat-form-field>
       
        <mat-form-field appearance="standard" class="full-width">
          <mat-label>Password</mat-label>
          <mat-icon matPrefix>lock</mat-icon>
          <input matInput type="password" formControlName="password" required>
        </mat-form-field>
        
        <button mat-raised-button color="primary" class="signin-button" 
          [disabled]="isLoading || !loginForm.valid" type="submit">
          Sign in
        </button>
      </form>
    </mat-card-content>

    <mat-card-actions>
      <div class="links">
        <a routerLink="/signUpUI">Don't have an account? Sign up</a><br>
        <mat-icon routerLink="/" class="back-icon">arrow_back</mat-icon>
    </div>
    </mat-card-actions>
  </mat-card>
</div>
