<button mat-icon-button class="close-button" [mat-dialog-close]="true">
    <mat-icon class="close-icon" color="warn">close</mat-icon>
  </button>
  <br> 
  
  <button mat-button color="primary"  (click)="addEmployment()">
    <mat-icon>add_circle</mat-icon>
    Employment
</button>
<br><br>

<form [formGroup]="employmentForm" (ngSubmit)="submitForm()">
    <div class="form-group-wrapper" formArrayName="employment">
        <div *ngFor="let item of employmentArray.controls; let i = index" [formGroupName]="i" class="form-group" >
            
            <mat-form-field appearance="standard">
                <mat-label>Company Name</mat-label>
                <input
                  matInput
                  placeholder="Enter company_name"
                  formControlName="company_name"
                />
              </mat-form-field>

              <mat-form-field appearance="standard">
                <mat-label>Position</mat-label>
                <input
                  matInput
                  placeholder="Enter Position"
                  formControlName="position"
                />
              </mat-form-field>

              <mat-form-field appearance="standard">
                <mat-label>Job_description</mat-label>
                <input
                  matInput
                  placeholder="Enter job_description"
                  formControlName="job_description"
                />
              </mat-form-field>

              <mat-form-field appearance="standard" class="form-field">
                <mat-label>Date Completed</mat-label>
                <input
                  matInput
                  [matDatepicker]="picker"
                  formControlName="date_completed"
                  required
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>

              <button
                mat-icon-button
                color="warn"
                (click)="removeItemFromArray5('employment', i)"
                *ngIf="employmentArray.length > 1"
              >
                <mat-icon>delete</mat-icon>
              </button>

        </div>
   </div>
   <button mat-raised-button color="primary" type="submit" >Add</button>
</form>