<button mat-icon-button class="close-button" [mat-dialog-close]="true">
    <mat-icon class="close-icon" color="warn">close</mat-icon>
  </button>
  <br>

<button mat-button color="primary"  (click)="addCertificate()">
    <mat-icon>add_circle</mat-icon>
    Add More
</button>
<br><br>


<form [formGroup]="certificateForm" (ngSubmit)="submitForm()">
<div  class="form-group-wrapper" formArrayName="certificate">
    <div
      *ngFor="let item of certificateArray.controls; let i = index"
      [formGroupName]="i"
    >
      <mat-form-field appearance="standard">
        <mat-label>Certificate Title</mat-label>
        <input
          matInput
          placeholder="Enter Certificate Title"
          formControlName="certificate_title"
        />
      </mat-form-field>

      <mat-form-field appearance="standard">
        <mat-label>Certificate Provider</mat-label>
        <input
          matInput
          placeholder="Enter certificate_provider"
          formControlName="certificate_provider"
        />
      </mat-form-field>

      <mat-form-field appearance="standard" class="form-field">
        <mat-label>Date Completed</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          formControlName="date_completed"
          required
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <button
        mat-icon-button
        color="warn"
        (click)="removeItemFromArray6('certificate', i)"
        *ngIf="certificateArray.length > 1"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
  
  <button mat-raised-button color="primary" type="submit" >Add</button>
  </form>
  