<section class="section">
  <h2 mat-dialog-title>Skills</h2>
  <mat-divider></mat-divider>

  <mat-form-field class="example-chip-list" appearance="standard">
    <mat-label>Skills</mat-label>
    <mat-chip-list #chipList aria-label="Language selection">
      <mat-chip
        *ngFor="let skill of skills"
        (removed)="remove(skill)">
        {{skill}}
        <button matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip>
      <input
        placeholder="Add Skills..."
        #languageInput
        [formControl]="skillsCtrl"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      <mat-option *ngFor="let language of filteredSkills | async" [value]="language">
        {{language}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <div class="button-end">
    <button mat-raised-button color="warn" [mat-dialog-close]="true"> Cancel </button>
    <button mat-raised-button color="primary" (click)="passData()"> Add</button>
  </div>
</section>