  <button mat-icon-button class="close-button" [mat-dialog-close]="true">
    <mat-icon class="close-icon" color="warn">close</mat-icon>
  </button>
  <br>

<button mat-button color="primary"  (click)="addEducation()">
    <mat-icon>add_circle</mat-icon>
    Add More
</button>
<br><br>

<form [formGroup]="educationForm" (ngSubmit)="submitForm()">
    <div class="education-group-wrapper" formArrayName="education">
      <div
        *ngFor="let item of educationArray.controls; let i = index"
        [formGroupName]="i"
        class="education-group"
      >
        <mat-form-field appearance="standard">
          <mat-label>Enter Education</mat-label>
          <input
           required
            matInput
            placeholder="Enter Education"
            formControlName="highest_education"
          />
        </mat-form-field>
  
        <mat-form-field appearance="standard">
          <mat-label>School Name</mat-label>
          <input
            required
            matInput
            placeholder="Enter school name"
            formControlName="school_name"
          />
        </mat-form-field>
        <div class="form-row">
            <mat-form-field appearance="standard" class="form-field">
              <mat-label>Start Month</mat-label>
              <mat-select formControlName="start_month">
                <mat-option *ngFor="let month of months" [value]="month">
                  {{ month }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="standard" class="form-field">
              <mat-label>Year Entry</mat-label>
              <mat-select formControlName="year_entry">
                <mat-option *ngFor="let year of years" [value]="year">
                  {{ year }}
                </mat-option>
              </mat-select>
            </mat-form-field>
           
        </div>
       
        <div class="form-row">
          <mat-form-field appearance="standard" class="form-field">
            <mat-label>End Month</mat-label>
            <mat-select formControlName="end_month">
              <mat-option *ngFor="let month of months" [value]="month">
                {{ month }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="standard" class="form-field">
            <mat-label>Year End</mat-label>
            <mat-select formControlName="year_end">
              <mat-option *ngFor="let year of years" [value]="year">
                {{ year }}
              </mat-option>
            </mat-select>
          
          </mat-form-field>
      
        </div>
       
  
        <mat-radio-group aria-label="Select education status" class="radio-group" formControlName="status">
          <mat-radio-button *ngFor="let option of educationStatusOptions" [value]="option.value">
            {{ option.label }}
          </mat-radio-button>
        </mat-radio-group>
  
        <button
          mat-icon-button
          color="warn"
          (click)="removeItemFromArray2('education', i)"
          *ngIf="educationArray.length > 1"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
    <button mat-raised-button color="primary" type="submit" >Add</button>
  </form>