<mat-card class="tree-container">
  <!-- Card Header with Close Icon -->
  <mat-card-header>
    <mat-card-title style="text-transform: uppercase;font-size: 14px;">{{ desc_code }}</mat-card-title>
    <button mat-icon-button class="close-button" [mat-dialog-close]="true">
      <mat-icon class="close-icon" color="warn">close</mat-icon>
    </button>
  </mat-card-header>
  
  <mat-divider></mat-divider>

  <!-- Loading Indicator -->
  <div *ngIf="isLoading" class="loading-text">Loading...</div>

  <!-- Scrollable Tree -->
  <div class="scrollable-tree">
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
      <!-- Expandable Node with Checkbox -->
      <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
        <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.description">
          <mat-icon>{{ treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right' }}</mat-icon>
        </button>
        <mat-checkbox [(ngModel)]="node.access" (change)="toggleAccess(node)">
          {{ node.description }}
        </mat-checkbox>
      </mat-tree-node>

      <!-- Leaf Node with Checkbox -->
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
        <button mat-icon-button disabled></button>
        <mat-checkbox [(ngModel)]="node.access" (change)="toggleAccess(node)">
          {{ node.description }}
        </mat-checkbox>
      </mat-tree-node>
    </mat-tree>
  </div>
 

</mat-card>
<div mat-dialog-actions align="end">
  <button type="submit" mat-raised-button color="primary">Update</button>
</div>
