  <mat-card [formGroup]="EmployeeForm">
        <button mat-icon-button class="close-button" [mat-dialog-close]="true">
          <mat-icon class="close-icon" color="warn">close</mat-icon>
        </button>
        <h2 mat-dialog-title>{{btnSave}} Security</h2>
      
          <mat-form-field appearance="standard" class="full-width">
            <mat-label>Rolecode</mat-label>
            <input matInput placeholder="Input Rolecode" autocomplete="off" required formControlName="rolecode">
          </mat-form-field>
  
          <mat-form-field appearance="standard" class="full-width">
            <mat-label>Address</mat-label>
            <input matInput placeholder="Input Description" autocomplete="off" required formControlName="description">
          </mat-form-field>
  
          <mat-form-field appearance="standard" class="full-width">
            <mat-label>created_by</mat-label>
            <input matInput placeholder="Input Created By" autocomplete="off" required formControlName="created_by">
          </mat-form-field>
          
          <mat-form-field appearance="standard" class="full-width">
            <mat-label>Updated_by</mat-label>
            <input matInput placeholder="Input Updated By" autocomplete="off" required formControlName="updated_by">
          </mat-form-field>
  
        <div class="button-container">
          <button type="submit" mat-raised-button color="primary" [disabled]="EmployeeForm.invalid">{{btnSave}}</button>
        </div>
  </mat-card>

