.button-gaps{
  display: flex;
  justify-content: left;
  margin-top: 0px;
  gap: 20px;
  margin-left: 550px;
  position: fixed;
}

.close-button2 {
  display: flex;
  justify-content: right;
}

/* Hide elements during print */
@media print {
  .no-print, .hide-closeprint {
    display: none !important;
  }
}
