  <div id="print-content" class="print-content">

    <div class="button-gaps">
      <button class="no-print" (click)="printData()">
        <mat-icon>print</mat-icon> Print CV
      </button>
  

    <div class="close-button2" >
      <button mat-icon-button  [mat-dialog-close]="true" class="hide-closeprint">
        <mat-icon class="close-icon" color="warn">close</mat-icon>
      </button>
   </div>

  </div>
  
    <header class="cv-header">
      <h1>{{ cvData.header.firstname }}</h1>
      <p>{{ cvData.header.familyname }}</p>
      <p>{{ cvData.header.profession }}</p>
      <p>{{ cvData.header.datebirth }}</p>
      <p>{{ cvData.header.contact }}</p>
      <p>{{ cvData.header.current }}</p>
    </header>
  
    <section class="cv-section">
      <h2>Profile</h2>
      <p>{{ cvData.profile }}</p>
    </section>
  
    <section class="cv-section">
      <h2>Work Experience</h2>
      <div class="cv-item">
        <div *ngFor="let experience of cvData.workExperience" class="cv-item">
          <h3>{{ experience.title }}</h3>
          <p><em>{{ experience.duration }}</em></p>
          <ul>
            <li *ngFor="let detail of experience.details">{{ detail }}</li>
          </ul>
        </div>
      </div>
    </section>
  
    <section class="cv-section">
      <h2>Education</h2>
      <div *ngFor="let education of cvData.education" class="cv-item">
        <h3>{{ education.degree }}</h3>
        <p><em>{{ education.institution }} | {{ education.duration }}</em></p>
      </div>
    </section>
  
    <section class="cv-section">
      <h2>Skills</h2>
      <ul>
        <li *ngFor="let skill of cvData.skills">{{ skill }}</li>
      </ul>
    </section>
  
    
  </div>
  
  <!-- Button to trigger print functionality -->

  
  